<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhengsonglan.jobdemo" >

    <!-- 权限 -->
    //网络权限
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        //首页
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        //AsyncTask
        <activity android:name=".asynctask.AsynTaskActivity" />
        //Handler
        <activity android:name=".handler.HandlerActivity" />
        //AppStart
        <activity android:name=".apps.start.AppsStartActivity" />
        //Share
        <activity android:name=".apps.share.ShareActivity" />
        //自定义的广播：用来监听程序的安装、卸载、更新
        <receiver
            android:name=".apps.start.MyReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
